.subFooter {
    background: #EBF8FF;
    width: 100%;
    margin: 0 !important;
    padding: 3rem;

    h5 {
        font-size: 17px;
        font-weight: 700;    
    }
    
    p {
        margin: 0.4rem 0;
        font-size: 14px;
    }
}